<template>
  <div>
    <h2>{{ pageTitle }}</h2>
    <el-form v-loading="loading" :model="form" :rules="rules" ref="ruleForm">
      <el-form-item label="Supplier" prop="supplierId">
        <el-select v-model="form.supplierId">
          <el-option value="1">Nikola Tesla</el-option>
          <el-option value="2">Marie Curie</el-option>
          <el-option value="3">Gregor Mendel</el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Amount" prop="amount">
        <el-input v-model="form.amount">
        </el-input>
      </el-form-item>
      <el-form-item label="Coin" prop="coinId">
        <el-select v-model="form.coinId">
          <el-option value="1">Euro</el-option>
          <el-option value="2">Mexican peso</el-option>
          <el-option value="3">American dollar</el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Date" prop="date">
        <el-date-picker v-model="form.date" type="date"  format="dd-MM-yyyy" value-format="yyyy-MM-dd"  placeholder="Pick a day">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="Commentary" prop="commentary">
        <el-input type="textarea" v-model="form.commentary"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="save" type="primary">Guardar</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "ReceiptCreateOrUpdate",
  data() {
    return {
      loading: false,
      form: {
        
      },
      rules: {
        supplierId: [{ required: true, message: "This field is required" }],
        amount: [{ required: true, message: "Este campo es requerido" }],
        coinId: [{ required: true, message: "Este campo es requerido" }],
        date: [{ required: true, message: "Este campo es requerido" }],
        commentary: [{ required: true, message: "Este campo es requerido" }]
      }
    };
  },
  computed: {
    pageTitle() {
      return this.form.id === 0 || this.form.id === undefined ? "New Receipt" : `Edit Receipt`;
    }
  },
  created() {
    let self = this;
    self.get(self.$route.params.id);
  },
  methods: {
    get(id) {
      if(id == undefined) return;

      let self = this;

      self.loading = true;
      self.$store.state.services.studentService
        .get(id)
        .then(r => {
          self.loading = false;
          self.form.studentId = r.data.studentId;
          self.form.name = r.data.name;
          self.form.lastName = r.data.lastName;
          self.form.bio = r.data.bio;
        })
        .catch(r => {
          self.$message({
            message: "Ocurrió un error inesperado",
            type: "error"
          });
        });
    },
    save() {
      let self = this;
      self.$refs["ruleForm"].validate(valid => {
        if (valid) {
          self.loading = true;

          if(self.form.id > 0) {
            self.$store.state.services.receiptService
            .update(self.form)
            .then(r => {
              self.loading = false;
              self.$router.push('/receipts');
            })
            .catch(r => {
              self.$message({
                message: "Ocurrió un error inesperado",
                type: "error"
              });
            });
          } else {
            self.$store.state.services.receiptService
              .add(self.form)
              .then(r => {
                self.loading = false;
                self.$router.push('/receipts');
              })
              .catch(r => {
                alert(JSON.stringify(r));
                self.$message({
                  message: "Ocurrió un error inesperado",
                  type: "error"
                });
              });
          }
        }
      });
    }
  }
};
</script>